.row-group {
    width: fit-content !important;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 2vh;
    min-width: 0px !important;
    gap: 5px;
    position: absolute !important;
    z-index: 4;
}

.btn-group {
    padding: 1px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    min-width: 0px !important; 
}

.fa-icon{
    font-size: 20px;
    color: var(--ait)
}